body {
    background: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkgoldenrod;
    text-align: center;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
   width: 22%;
   padding: 10px 10px;  
   margin: 10px;
   background: wheat;
   border-radius: 10px;
}

h2 {
    text-align: center;
}

.assignment img {
    width: 75%;
    border: 3px solid wheat;
    display: block;
    margin: auto;
}

.assignment img:hover {
    border: 3px solid darkgoldenrod;
    display: block;
    margin: auto;
}

.assignment a:link, a:visited {
    color: darkgoldenrod;
    text-decoration: none;
}

.assignment a:hover, a:active {
    color: #6e5007;
    text-decoration: underline;
}